.top50
  .row.text-center
    .col-lg-8.col-lg-offset-2
      %h1.large= t("app.title")
      %p.lead= t("app.subtitle")

      = link_to user_omniauth_authorize_path(:github), class: "btn btn-lg btn-default btn-loading", "data-loading-text" => "Loading..." do
        %i.fa.fa-github.fa-lg
        Sign in with GitHub
